@*@model RazorReacherEmail*@
@{
	const string logoUrl = "https://www.reacher.me/images/logo.png";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	<!--[if !mso]><!-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<![endif]-->

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<style type="text/css">
		#outlook a {
			padding: 0;
		}

		body {
			margin: 0;
			padding: 0;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}

		table,
		td {
			border-collapse: collapse;
			mso-table-lspace: 0pt;
			mso-table-rspace: 0pt;
		}

		img {
			border: 0;
			height: auto;
			line-height: 100%;
			outline: none;
			text-decoration: none;
			-ms-interpolation-mode: bicubic;
		}

		p {
			display: block;
			margin: 13px 0;
		}
	</style>
	<!--[if mso]>
	<noscript>
	   <xml>
		  <o:OfficeDocumentSettings>
			 <o:AllowPNG/>
			 <o:PixelsPerInch>96</o:PixelsPerInch>
		  </o:OfficeDocumentSettings>
	   </xml>
	</noscript>
	<![endif]-->
	<!--[if lte mso 11]>
	<style type="text/css">
		   .mj-outlook-group-fix { width:100% !important; }
	</style>
	<![endif]-->
	<style type="text/css">
		@@media only screen and (min-width:480px) {
			.mj-column-per-100 {
				width: 100% !important;
				max-width: 100%;
			}
		}
	</style>
	<style media="screen and (min-width:480px)">
		.moz-text-html .mj-column-per-100 {
			width: 100% !important;
			max-width: 100%;
		}
	</style>
	<style type="text/css">
		@@media only screen and (max-width:480px) {
			table.mj-full-width-mobile {
				width: 100% !important;
			}

			td.mj-full-width-mobile {
				width: auto !important;
			}
		}
	</style>
	<style type="text/css">
		@@media only screen and (min-width:480px) {
			.mj-section-rh > table > tbody > tr > td {
				padding-left: 90px !important;
				padding-right: 90px !important;
			}
		}

		a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: none !important;
			font-size: inherit !important;
			font-family: inherit !important;
			font-weight: inherit !important;
			line-height: inherit !important;
		}
	</style>
</head>
<body style="word-spacing:normal">
	<span style="display:none">~--~</span>
	<div class="body" style="padding: 6px; background-color: #FFFFFF;">
		<!--[if mso | IE]>
		<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#ffffff" >
		   <tr>
						  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
				 <v:rect style="width:652px;" xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false">
					<v:fill origin="0.5, 0" position="0.5, 0" src="https://www.reacher.me/images/headerBg.png" color="#ffffff" type="tile" />
					<v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
					   <![endif]-->
		<div class="mj-section-rh" style="background:#ffffff url(&#39;https://www.reacher.me/images/headerBg.png&#39;) center top / auto repeat;background-position:center top;background-repeat:repeat;background-size:auto;margin:0px auto;max-width:652px;">
			<div style="line-height:0;font-size:0;">
				<table align="center" background="https://www.reacher.me/images/headerBg.png" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff url(&#39;https://www.reacher.me/images/headerBg.png&#39;) center top / auto repeat;background-position:center top;background-repeat:repeat;background-size:auto;width:100%;">
					<tbody>
						<tr>
							<td style="border:1px solid #B4BDC2;border-bottom:1;border-top:1;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:18px;padding-left:32px;padding-right:32px;padding-top:21px;text-align:center;">
								<!--[if mso | IE]>
								<table role="presentation" border="0" cellpadding="0" cellspacing="0">
								   <tr>
									  <td class="" style="vertical-align:top;width:586px;" >
										 <![endif]-->
								<div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td style="vertical-align:top;padding:0;">
													<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
														<tbody>
															<tr>
																<td align="center" style="font-size:0px;padding:0;word-break:break-word;">
																	<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
																		<tbody>
																			<tr>
																				<td style="width:114px;"><img alt="Reacher logo" height="78" src="@logoUrl" style="border:0;display:block;outline:none;text-decoration:none;height:78px;width:100%;font-size:15px;" width="114"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--[if mso | IE]>
									  </td>
								   </tr>
								</table>
								<![endif]-->
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--[if mso | IE]>
					</v:textbox>
				 </v:rect>
			  </td>
		   </tr>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#ffffff" >
		   <tr>
			  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
				 <![endif]-->
		<div class="mj-section-rh" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:652px;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
				<tbody>
					<tr>
						<td style="border:1px solid #B4BDC2;border-bottom:none;border-top:none;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-left:32px;padding-right:32px;padding-top:0;text-align:center;">
							<!--[if mso | IE]>
							<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							   <tr>
								  <td class="" style="vertical-align:top;width:586px;" >
									 <![endif]-->
							<div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
								<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
									<tbody>
										<tr>
											<td align="left" style="font-size:0px;padding:12px 0px;padding-top:24px;padding-bottom:12px;word-break:break-word;">
												<div style="font-family:Arial;font-size:24px;line-height:29px;text-align:left;color:#040D14;">@Model.Title</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--[if mso | IE]>
								  </td>
							   </tr>
							</table>
							<![endif]-->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		@if (Model.MarkdownContentItems?.Any() == true)
		{
			<!--[if mso | IE]>
			</td>
			</tr>
			</table>
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#ffffff" >
			<tr>
			<td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
			<![endif]-->
			<div class="mj-section-rh" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:652px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
					<tbody>
						<tr>
							<td style="border:1px solid #B4BDC2;border-bottom:none;border-top:none;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-left:32px;padding-right:32px;padding-top:0;text-align:center;">
								<!--[if mso | IE]>
								<table role="presentation" border="0" cellpadding="0" cellspacing="0">
								<tr>
								<td class="" style="vertical-align:top;width:586px;" >
								<![endif]-->
							<div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
										<tbody>
											@foreach (var content in Model.MarkdownContentItems)
											{
												<tr>
													<td align="left" style="font-size:0px;padding:12px 0px;word-break:break-word;">
														<div style="font-family:Arial;font-size:15px;line-height:25px;text-align:left;color:#040D14;">@content</div>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
								<!--[if mso | IE]>
								</td>
								</tr>
								</table>
								<![endif]-->
						</td>
						</tr>
					</tbody>
				</table>
			</div>
		}
		<!--[if mso | IE]>
			  </td>
		   </tr>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#ffffff" >
		   <tr>
			  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
				 <![endif]-->
		@if (Model.Actions?.Any() == true)
		{
			<div class="mj-section-rh" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:652px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
					<tbody>
						<tr>
							<td style="border:1px solid #B4BDC2;border-bottom:none;border-top:none;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-left:32px;padding-right:32px;padding-top:0;text-align:center;">
								<!--[if mso | IE]>
								<table role="presentation" border="0" cellpadding="0" cellspacing="0">
								   <tr>
									  <td class="" style="vertical-align:top;width:586px;" >
										 <![endif]-->
							<div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
										<tbody>
											<tr>
												<td align="left" vertical-align="middle" style="font-size:0px;padding:12px 0px;word-break:break-word;">
													<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
														<tbody>
															<tr>
																@foreach (var action in Model.Actions)
																{
																	<td align="center" bgcolor="#040D14" role="presentation" style="border:none;border-radius:22px;cursor:auto;mso-padding-alt:11px 30px;background:#040D14;" valign="middle"><a href="@action.Url" style="display: inline-block; background: #040D14; color: #ffffff; font-family: Arial; font-size: 15px; font-weight: bold; line-height: 22px; margin: 0; text-decoration: none; text-transform: none; padding: 11px 30px; mso-padding-alt: 0px; border-radius: 22px;" target="_blank">@action.ActionName</a></td>
																}
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--[if mso | IE]>
									  </td>
								   </tr>
								</table>
								<![endif]-->
						</td>
						</tr>
					</tbody>
				</table>
			</div>
		}
		@if (Model.MarkdownContentItemsAfter?.Any() == true)
		{
			<!--[if mso | IE]>
			</td>
			</tr>
			</table>
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#ffffff" >
			<tr>
			<td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
			<![endif]-->
			<div class="mj-section-rh" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:652px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
					<tbody>
						<tr>
							<td style="border:1px solid #B4BDC2;border-bottom:none;border-top:none;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-left:32px;padding-right:32px;padding-top:0;text-align:center;">
								<!--[if mso | IE]>
								<table role="presentation" border="0" cellpadding="0" cellspacing="0">
								<tr>
								<td class="" style="vertical-align:top;width:586px;" >
								<![endif]-->
							<div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
										<tbody>
											@if (Model.OtherHtml != null)
											{
												<tr>
													<td align="left" style="font-size:0px;padding:12px 0px;word-break:break-word;">
														<div style="font-family:Arial;font-size:15px;line-height:25px;text-align:left;color:#040D14;"><hr/></div>
													</td>
												</tr>
											}
											@foreach (var content in Model.MarkdownContentItemsAfter)
											{
												<tr>
													<td align="left" style="font-size:0px;padding:12px 0px;word-break:break-word;">
														<div style="font-family:Arial;font-size:15px;line-height:25px;text-align:left;color:#040D14;">@content</div>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
								<!--[if mso | IE]>
								</td>
								</tr>
								</table>
								<![endif]-->
						</td>
						</tr>
					</tbody>
				</table>
			</div>
		}

		@if (Model.OtherHtml != null)
		{
			<!--[if mso | IE]>
			</td>
			</tr>
			</table>
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#ffffff" >
			<tr>
			<td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
			<![endif]-->
			<div class="mj-section-rh" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:652px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
					<tbody>
						<tr>
							<td style="border:1px solid #B4BDC2;border-bottom:none;border-top:none;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-left:32px;padding-right:32px;padding-top:0;text-align:center;">
								<!--[if mso | IE]>
								<table role="presentation" border="0" cellpadding="0" cellspacing="0">
								<tr>
								<td class="" style="vertical-align:top;width:586px;" >
								<![endif]-->
							<div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
									<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
										<tbody>
											<tr>
												<td align="left" style="font-size:0px;padding:12px 0px;word-break:break-word;">
													<div style="font-family:Arial;font-size:15px;line-height:25px;text-align:left;color:#040D14;">
														<span style="display:none">~--~</span>
														@Model.OtherHtml
														<span style="display:none">~--~</span>
														<br/>
														<hr />
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--[if mso | IE]>
								</td>
								</tr>
								</table>
								<![endif]-->
						</td>
						</tr>
					</tbody>
				</table>
			</div>
		}
		<!--[if mso | IE]>
			  </td>
		   </tr>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#ffffff" >
		   <tr>
						  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
				 <![endif]-->
		<div class="mj-section-rh" style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:652px;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
				<tbody>
					<tr>
						<td style="border:1px solid #B4BDC2;border-bottom:none;border-top:none;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-left:32px;padding-right:32px;padding-top:0;text-align:center;">
							<!--[if mso | IE]>
							<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							   <tr>
								  <td class="" style="vertical-align:top;width:586px;" >
									 <![endif]-->
							<div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
								<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
									<tbody>
										<tr>
											<td align="left" style="font-size:0px;padding:12px 0px;word-break:break-word;">
												<div style="font-family:Arial;font-size:15px;line-height:25px;text-align:left;color:#040D14;">If you have any questions, please visit our <a href="https://www.reacher.me" style="color: #fdaa26; text-decoration: none; font-weight: bold;">website</a>.</div>
											</td>
										</tr>
										<tr>
											<td align="left" style="font-size:0px;padding:12px 0px;word-break:break-word;">
												<div style="font-family:Arial;font-size:15px;line-height:25px;text-align:left;color:#6F787E;">- The Reacher Team</div>
											</td>
										</tr>
										<tr>
											<td align="left" style="font-size:0px;padding:12px 0px;padding-top:0;padding-bottom:22px;word-break:break-word;">
												<div style="font-family:Arial;font-size:15px;line-height:25px;text-align:left;color:#040D14;"></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--[if mso | IE]>
								  </td>
							   </tr>
							</table>
							<![endif]-->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--[if mso | IE]>
			  </td>
		   </tr>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#F6F6F6" >
				   <tr>
			  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
				 <![endif]-->
		<div class="mj-section-rh" style="background:#F6F6F6;background-color:#F6F6F6;margin:0px auto;max-width:652px;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#F6F6F6;background-color:#F6F6F6;width:100%;">
				<tbody>
					<tr>
						<td style="border:1px solid #B4BDC2;border-bottom:none;border-top:1;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-left:32px;padding-right:32px;padding-top:30px;text-align:center;">
							<!--[if mso | IE]>
							<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							   <tr>
								  <td class="footer-column-outlook" style="vertical-align:top;width:586px;" >
									 <![endif]-->
							<div class="mj-column-per-100 mj-outlook-group-fix footer-column" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
								<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
									<tbody>
										<tr>
											<td align="left" class="social-link-table" style="font-size:0px;padding:0 0 8px;word-break:break-word;">
												<table cellpadding="0" cellspacing="0" width="100%" border="0" style="margin-left: -5px; color: #040D14; font-family: Arial; font-size: 15px; line-height: 25px; table-layout: auto; width: 100%; border: none;">
													<tbody>

														<tr>
															<td width="32"><a href="https://twitter.com/reacher_me" style="color: #040D14; text-decoration: none; font-weight: normal;"><img src="https://www.reacher.me/images/Twitter-2@2x.png" width="32" height="32" align="left" padding="0"></a></td>
															<td width="12"></td>
															<td width="32"><a href="https://www.instagram.com/reacher_me" style="color: #040D14; text-decoration: none; font-weight: normal;"><img src="https://www.reacher.me/images/Instagram-2@2x.png" width="32" height="32" align="left" padding="0"></a></td>
															<td colspan="100">
															</td>
														</tr>
													</tbody>

												</table>
											</td>
										</tr>
										<tr>
											<td align="left" style="font-size:0px;padding:12px 0px;padding-top:0;padding-bottom:0;word-break:break-word;">
												<div style="font-family:Arial;font-size:15px;line-height:25px;text-align:left;color:#040D14;"><a href="https://www.reacher.me/" style="color: #040D14; text-decoration: none; font-weight: normal;">Home</a>&nbsp;|&nbsp;<a href="https://strike.me/en/legal/privacy" style="color: #040D14; text-decoration: none; font-weight: normal;">Privacy Policy</a></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--[if mso | IE]>
								  </td>
							   </tr>
							</table>
							<![endif]-->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--[if mso | IE]>
			  </td>
		   </tr>
		</table>
		<table align="center" border="0" cellpadding="0" cellspacing="0" class="mj-section-rh-outlook" style="width:652px;" width="652" bgcolor="#F6F6F6" >
		   <tr>
			  <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
				 <![endif]-->
		<div class="mj-section-rh" style="background:#F6F6F6;background-color:#F6F6F6;margin:0px auto;max-width:652px;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#F6F6F6;background-color:#F6F6F6;width:100%;">
				<tbody>
					<tr>
						<td style="border:1px solid #B4BDC2;border-bottom:1;border-top:none;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:34px;padding-left:32px;padding-right:32px;padding-top:0;text-align:center;">
							<!--[if mso | IE]>
							<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							   <tr>
								  <td class="footer-column-outlook footer-disclosure-outlook footer-disclosure-muted-outlook" style="vertical-align:top;width:586px;" >
									 <![endif]-->
							<div class="mj-column-per-100 mj-outlook-group-fix footer-column footer-disclosure footer-disclosure-muted" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
								<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
									<tbody>
										<tr>
											<td align="left" style="font-size: 0px; padding: 12px 0px; word-break: break-word; padding-bottom: 0px;">
												<div style="font-family: Arial; text-align: left; font-size: 12px; line-height: 22px; color: #6F787E;">@Model.BottomNote</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--[if mso | IE]>
								  </td>
							   </tr>
							</table>
							<![endif]-->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!--[if mso | IE]>
			  </td>
		   </tr>
		</table>
		<![endif]-->
	</div>

	<span style="display:none">~--~</span>
</body>
</html>